/* 
    id of section: activeSection
    id of link on top: activeSection-link

    project name: project1
    devlog data: data/devlogs/projects1.json 
    devlog element id: project1-devlog 
*/

html, body {
    height: 100%;
}

:root {
    --oat-color: #dfc98a;
    --slate-color: #26282A;
}

html {
    overflow-y: scroll;
}

body {
    background-color: var(--slate-color); 
    color: var(--oat-color);

    font-family: "Overpass", sans-serif;
    letter-spacing: 0.3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--slate-color);
}
::-webkit-scrollbar-thumb {
    background: #dfc88a94;
}
::-webkit-scrollbar-thumb:hover {
    background: #dfc88ac7; 
}

#hey {
    font-size: 80px;
    margin: 0 0 0 25%;      
}

#greeting {
    font-size: 25px;
}

#thanks {
    margin-bottom: 100px;
}

#ill-try {
    color: rgba(211, 211, 211, 0.5);
    text-decoration: none;
    font-size: 0.7em;
    margin-top: 10px;
    transition: 0.5s;
}
#ill-try:hover {
    color: rgba(211, 211, 211, 0.9);
}

#email:hover {
    text-decoration: underline;
}

#email-copied {
    color: lightgreen;
    margin-left: 10px;
    visibility: hidden;
}

#bottom-image-div {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

#section-link-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    display: flex;
    justify-content: center;

    background-color: #26282Ab0;

    z-index: 10;
}

.section-link {
    display: flex;
    flex-direction: column;
    margin: 5px;

    font-size: 18px;

    z-index: 10;
}

@media screen and (max-width: 800px) {
    .section-link {
        font-size: 30px;
    }
}

.section-link-inactive {
    padding: 0px 5px;
}
.section-link-active {
    outline: solid 2px var(--oat-color);
}
.section-link-active + .section-link-underline {
    display: none;
}

.section-link-underline {
    width: 0;
    height: 3px;
    background-color: var(--oat-color);
    
    transition: 0.25s;

    z-index: 10;
}
.section-link:hover {
    cursor: pointer;
}
.section-link:hover > .section-link-underline {
    width: 100%;
}

#bottom-image {
    width: 100%;
    z-index: -100;
}

.icon-link-nav {
    display: flex;
    gap: 10px;
}

.icon-link > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
    background-color: aliceblue;
    
    margin-top: 8px;
    margin-bottom: 0px;
    transition: 0.2s;
}
#contact-nav {
    margin-top: 20px;
}
#contact-nav img {
    width: 50px;
    height: 50px;
}
.icon-link:hover {
    cursor: pointer;
}

.icon-link:hover img {
    margin-top: 0px;
    margin-bottom: 8px;
}

#discord-icon-div {
    position: relative;
    display: flex;
    justify-content: center;
}

#discord-copy-tooltip {
    position: absolute;

    bottom: calc(100% + 5px);

    border: solid #4e5d94 3px;
    color: aliceblue;
    background-color: var(--slate-color);
    border-radius: 5px;
    padding: 3px;

    visibility: hidden;

    display: flex;
    align-items: center;
}
#discord-icon-div:hover > #discord-copy-tooltip {
    visibility: visible;
}
#discord-copy-tooltip > img {
    width: 24px;
    height: 24px;
}

.section {
    display: none;
    flex-direction: column;
    margin: 10px;

    padding-top: 40px;
}
.section > * {
    opacity: 0;
}

#projects > h1 {
    margin-bottom: 40px;
}

.project-panel {
    display: flex;
}
.divider {
    display: flex;
    justify-content: center;
    margin: 60px 0px;
}
.divider > div {
    background-color: var(--oat-color);
    width: 40%;
    height: 2px;
}
.divider:last-child {
    display: none;
}

.project-panel-info {
    display: flex;
    flex-direction: column;

    flex: 2;
}

h2 {
    color: lightblue;
    margin: 0;
}
.project-panel-bottom {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}
.project-panel-bottom > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date {
    margin: 0;
    color: lightgreen;
}

.project-panel-image {
    display: flex;
    align-items: center;

    flex: 1;

    margin-left: 10px;
}
.project-panel-image > img {
    width: 100%;
    transition: 0.5s;
}
.project-panel-image > img:hover {
    rotate: 5deg;
}


.dropdown {
    color: lightcoral;

    font-weight: bold;
    display: inline-block;

    position: relative;
}
.dropdown:hover {
    cursor: pointer;
}

.dropdown-link {
    z-index: 0;
}

.dropdown-panel {
    position: absolute;

    display: none;
    flex-direction: column;

    top: 100%;

    background-color: var(--slate-color);
    border: solid 2px;
    z-index: 1;
}

.dropdown-panel:first-child {
    padding-top: 10px;
}

option:hover {
    text-decoration: underline;
}

#red-text-tooltip {
    position: absolute;
    background-color: var(--slate-color);

    left: 0px;
    top: 100%;

    border: solid 2px;

    visibility: hidden;
}

#red-text {
    color: lightcoral;
    display: inline-block;
    position: relative;
}

#red-text:hover > #red-text-tooltip {
    visibility: visible;
}

#hover-msg {
    display: inline;
}

.devlogs-desc {
    margin: 20px 0;
}

.devlog-listing {
    display: none;
    margin-top: 30px;
}
.devlog-listing:last-child {
    display: none;
}
.devlog-entry {
    margin-left: 10%;
}
.devlog-doesnt-exist {
    color: lightblue;
}

#image-holder {
    display: none;
}

#main {
    max-width: 700px;
    width: 100%;
}

#pics-container {
    display: grid;
    min-height: 10px;
}
.pic-column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-height: 10px;
}

.pic {
    margin-bottom: 20px;
    width: 100%;
    outline: solid 5px lightgray;

    transition: 0.5s;
}
.pic:hover {
    rotate: 5deg;
}

#pics-modal {
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #26282Ab0;

    z-index: 100;
}

#enlarged-pic {
    outline: solid 5px lightgray;
}

